.vercel
node_modules
dist
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
.env.local
.env.*.local
.DS_Store
*.log
